html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    
    body {
        max-width: 550px;
    }

    .topheader, .notetakingarea, .buttons {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .notetakingarea {

    }
}

.indexbody {
    background-color: #faf4ed;
}

.leftside, .rightside {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    overflow-x: auto;
    z-index: 1;
}

.rightside {
    right: 0;
    width: 80%;
    background-color: #cecacd;
}

.leftside {
    left: 0;
    width: 20%;
    background-color: #faf4ed;
}

header, footer, .message, .save, .delete, .newnotebutton, .newnote {
    font-family: 'Hubballi', cursive;
}

.headerlinks {
    display: flex;
    justify-content: right;
    list-style-type: none;
}

.headerlink, a {
    padding-right: 20px;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    z-index: 2;
}

.closemenubox {
    display: flex;
    justify-content: flex-end;
}

.closemenu {
    border: 0;
    background-color: #faf4ed;
    font-size: 20px;
    cursor: pointer;
}

.openmenu {
    display: flex;
    align-items: flex-start;
    border: 0;
    background-color: #faf4ed;
    font-size: 20;
    cursor: pointer;
}

.noteslist {
    list-style: none;
    padding-left: 10%;
}

.mynotes {
    color: #b4637a;
    font-size: 20px;
    padding-bottom: 10px;
}

.notetakingarea {
    display: flex;
    border-radius: 12px;
    background-color: #faf4ed;
    width: auto;
    height: 400px;
    margin-left: 50px;
    margin-right: 50px;
}

.message {
    padding-left: 20px;
}

.save, .delete, .newnotebutton, .newnote {
    border-color: #286983;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    background-color: #faf4ed;
    margin:4px 2px;
    font-size: 20px;
    cursor: pointer;
}

.indexnewnote {
    width: 300px;
    padding-left: 50px;
}

.buttons {
    border-collapse: separate;
    border-spacing: 80px 50px;
    padding-left: 50px;
}
