html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.leftside, .rightside {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    z-index: 1;
}

.rightside {
    right: 0;
    width: 80%;
    background-color: white;
}

.leftside {
    left: 0;
    width: 20%;
    background-color: lightgoldenrodyellow;
}

header, footer {
    font-family: 'Hubballi', cursive;
}

.headerlinks {
    display: flex;
    justify-content: right;
    list-style-type: none;
}

.headerlink {
    padding-right: 20px
}

footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    z-index: 2;
}

.closemenubox {
    display: flex;
    justify-content: flex-end;
}

.closemenu {
    border: 0;
    background-color: white;
    font-size: 20px;
}

.openmenu {
    display: flex;
    align-items: flex-start;
    border: 0;
    background-color: white;
    font-size: 20;
}

.newnote {
    display: flex;
    padding-left: 200px;
    border: 0;
    background-color: white;
}

.noteslist {
    list-style: none;
}

.mynotes {
    color: red;
    font-size: 20px;
    padding-bottom: 10px;
}
